<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    {{>navbar}}
        <form action="/login"  method = "POST" id="login" onsubmit="return validate()" autocomplete="off">
            <div class="form-control">
                <input type="email" name="emails" id="email" placeholder="Email"> 
                <small></small>
            </div>
            <div class="form-control">
                <input type="text" name="passwords" id="password" placeholder="Password">
                <small></small>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    <script src="../../static/js/login.js"></script>
</body>
</html>